* {
    font-family: Inter;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    margin: 0px;
    background-color: #101040;
    color: white;
}

.main-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    position: absolute;
    top: 0;
    text-align: center;
}

.title-top {
    margin: 0;
    line-height: 1.2;
    font-family: VCR_OSD_MONO;
    color: #ffffd7;
    font-size: 25px;
}

.title-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe3;
    font-size: 35px;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    font-family: VCR_OSD_MONO;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src: url('../assets/Inter.ttf') format('truetype');
}

@font-face {
    font-family: VCR_OSD_MONO;
    font-display: swap;
    src: url('../assets/VCR_OSD_MONO.ttf') format('truetype');
}

@font-face {
    font-family: CourierPrime-Bold;
    font-display: swap;
    src: url('../assets/CourierPrime-Bold.ttf') format('truetype');
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
    body {
        min-height: -webkit-fill-available;
    }
}
