body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    margin: 0px;
    background-color: #101040;
    color: white;
}

h1 {
    position: absolute;
    top: 50px;
    text-align: center;
}

h1 p {
    margin: 0;
    line-height: 1.2;
    font-family: consolas;
    font-weight: bold;
}

h1 p:nth-child(1) {
    font-size: 38px;
}

h1 div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff44;
    font-family: Inter;
    font-size: 38px;
    margin: 0;
    line-height: 1.2;
    font-family: consolas;
    font-weight: bold;
}

h1 div p {
    transform: scaleX(-1);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: Inter;
    src: url('../assets/Inter.ttf') format('truetype');
}
@font-face {
    font-family: VCR_OSD_MONO;
    src: url('../assets/VCR_OSD_MONO.ttf') format('truetype');
}
