* {
    font-family: Inter;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    margin: 0px;
    background-color: #101040;
    color: white;
}

.mainTitle {
    position: absolute;
    top: 0;
    text-align: center;
}

.titleTop {
    margin: 0;
    line-height: 1.2;
    font-family: VCR_OSD_MONO;
    color: #ffffd7;
    font-size: 38px;
}

.titleBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fe3;
    font-size: 38px;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    font-family: VCR_OSD_MONO;
}

.rightEmoji {
    margin: 0;
    line-height: 1.2;
    font-family: VCR_OSD_MONO;
    color: #ffffd7;
    transform: scaleX(-1);
}

@font-face {
    font-family: Inter;
    src: url('../assets/Inter.ttf') format('truetype');
}
@font-face {
    font-family: VCR_OSD_MONO;
    src: url('../assets/VCR_OSD_MONO.ttf') format('truetype');
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
    body {
        min-height: -webkit-fill-available;
    }
}
