.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-logo {
    margin-right: 10px;
}

.google-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55f;
    padding: 5px 15px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
}

.google-login-text {
    font-weight: bold;
}

.or {
    margin: 20px;
    font-size: 12px;
    font-weight: bold;
}

.email-login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    gap: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    width: 225px;
    border: 1px solid black;
    outline: none;
}

.login-btn {
    width: 230px;
    height: 25px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #55f;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 25px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #00b;
    border-radius: 3px;
    text-decoration: none;
}
