main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide-text {
    font-family: VCR_OSD_MONO;
    font-weight: 400;
    font-size: 20px;
}

.code-input {
    font-size: 20px;
    width: 300px;
    outline: none;
}
