main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide-text {
    font-family: VCR_OSD_MONO;
    font-weight: 400;
    font-size: 18px;
}

.code-input {
    font-size: 20px;
    width: 300px;
    outline: none;
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #ccc;
    margin-top: 5px;
}

.hint div {
    padding-bottom: 5px;
}

.hint span {
    font-size: 16px;
    font-family: CourierPrime-bold;
    padding: 0px;
}
