main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide-text {
    font-family: VCR_OSD_MONO;
    font-weight: 400;
    font-size: 20px;
}

.code-input {
    font-size: 20px;
    width: 300px;
    outline: none;
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #666;
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
}
