.logPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tableRowInputOverlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tableCaptionInputOverlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.workoutInputOverlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.logContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 20vh;
}

.routineName {
    max-width: 250px;
    padding: 5px 20px;
    margin: 0px;
    background-color: #000025;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logDataContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 55vh;
    padding: 0px 20px;
    background-color: rgba(0, 0, 40, 0.6);
    border-radius: 0px 15px 15px 15px;
    border-bottom: 0;
    overflow: auto;
}

.workoutTable {
    position: relative;
    color: black;
    margin: 25px 0px;
}

.workoutTableCaption {
    position: relative;
    left: 2px;
    width: max-content;
    max-width: 105px;
    padding: 2px 5px;
    color: black;
    font-weight: bold;
    text-align: start;
    background-color: white;
    background-color: #88a;
    border-radius: 10px 10px 0 00;
}

.workoutTableCaptionInput {
    position: relative;
    width: 75px;
    border-style: none;
    border: 2px solid #666;
    z-index: 4;
}

.workoutNameTxt {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.workoutTableInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
    height: 10px;
}

.workoutTableInput {
    width: 75px;
    position: relative;
    border: 2px solid #666;
    z-index: 2;
}

.tableBody {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.tableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
}

.tableHeaderCell {
    display: flex;
    width: 90px;
}

.deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    left: -10px;
    width: 19px;
    height: 19px;
    color: white;
    border-radius: 3px;
    border-style: none;
    border: 2px solid black;
    background-color: red;
}

.tableDataCell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 20px;
}

.addSetBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    padding: 2px 0px;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 15px;
    background-color: #ffff88;
}

.createDeleteBtn {
    position: absolute;
    top: 0px;
    right: 105px;
    width: max-content;
    padding: 3.5px 15px;
    border-style: none;
    border-radius: 10px;
    background-color: #ff5000;
}

.closeDeleteBtn {
    position: absolute;
    top: 0px;
    right: 105px;
    width: max-content;
    padding: 3.5px 7.5px;
    border-style: none;
    border-radius: 10px;
    background-color: #88a;
}

.doneTxt {
    font-weight: bold;
    margin: 0;
}

.createInputFeild {
    position: absolute;
    bottom: 50px;
    width: 300px;
    padding: 10px 0px;
    border-radius: 30px;
    font-family: VCR_OSD_MONO;
    font-size: 22px;
    font-weight: bold;
    background-color: blue;
}

.workoutInput {
    position: absolute;
    bottom: 50px;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 20px;
    width: 250px;
    outline: none;
    z-index: 6;
}
