.log-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table-row-input-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.table-caption-input-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.workout-input-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.rest-time-input-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 7;
}

.log-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 20vh;
}

.routine-name {
    max-width: 250px;
    height: 32px;
    font-size: 22px;
    padding: 5px 20px;
    margin: 0px;
    background-color: #000025;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.log-data-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 50vh;
    padding: 0px 20px;
    background-color: rgba(0, 0, 40, 0.6);
    border-radius: 0px 15px 15px 15px;
    border-bottom: 0;
    overflow: auto;
}

.log-data {
    position: relative;
    color: black;
    margin: 20px 0px 30px;
}

.workout-table {
    width: 300px;
}

.workout-table-caption {
    position: relative;
    left: 2px;
    width: max-content;
    max-width: 105px;
    padding: 2px 5px;
    color: black;
    font-weight: bold;
    text-align: start;
    background-color: #88a;
    border-radius: 10px 10px 0 00;
}

.workout-table-caption-input {
    position: relative;
    width: 75px;
    border-style: none;
    border: 2px solid #666;
    z-index: 4;
}

.workout-name-txt {
    padding: 0 5px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.workout-table-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75px;
    height: 10px;
}

.workout-table-input {
    width: 75px;
    position: relative;
    border: 2px solid #666;
    z-index: 2;
}

.table-body {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
}

.table-header-cell {
    display: flex;
    width: 90px;
}

.workout-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: -20px;
    width: 18px;
    height: 18px;
    padding: 1px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border-style: none;
    border: 2px solid black;
    background-color: red;
}

.set-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3px;
    left: -15px;
    width: 12px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    border-style: none;
    border: 2px solid black;
    background-color: red;
}
.table-data-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 20px;
}

.add-set-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 0px;
    width: 100px;
    height: 20px;
    padding: 2px 0px;
    font-weight: bold;
    font-size: 14px;
    border-style: none;
    border-radius: 15px;
    background-color: #ffff88;
    color: black;
}

.create-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 105px;
    width: max-content;
    height: 20px;
    padding: 3.5px 15px;
    border-style: none;
    border-radius: 10px;
    background-color: #ff5510;
    color: black;
}

.close-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 105px;
    width: max-content;
    height: 20px;
    padding: 3.5px 7.5px;
    border-style: none;
    border-radius: 10px;
    background-color: #88a;
    color: black;
}

.done-txt {
    font-weight: bold;
    margin: 0;
}

.create-input-feild {
    position: absolute;
    bottom: 3vh;
    width: 300px;
    padding: 10px 0px;
    border-style: none;
    border: 3px solid black;
    border-bottom: 10px solid black;
    border-radius: 20px;
    font-family: VCR_OSD_MONO;
    font-size: 22px;
    font-weight: bold;
    color: black;
    background-color: blue;
}

.workout-input {
    position: absolute;
    bottom: 3vh;
    width: 250px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    z-index: 6;
}

.timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -28px;
    height: 25px;
    padding-right: 10px;
    border-radius: 7.5px;
    background-color: #005;
    border-bottom: 2px solid black;
}

.create-rest-time-input {
    width: 95px;
    height: 22px;
    border-style: none;
    border-radius: 6px;
    margin-left: 2px;
    background-color: #007;
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    border: 2px solid #33a;
}

.rest-time-input {
    width: 68px;
    height: 20px;
    padding-left: 5px;
    border-style: none;
    border-radius: 5px;
    margin-left: 2px;
    z-index: 8;
}
