.routine-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-input-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.create-input-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.routine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 20vh;
}

.sub-title {
    height: 32px;
    font-family: VCR_OSD_MONO;
    font-weight: 400;
    font-size: 22px;
    padding: 5px 20px;
    margin: 0px;
    background-color: #000025;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
}

.edit-or-delete-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    right: 10px;
    width: 105px;
    height: 42px;
}

.routine-edit-btn {
    width: 50px;
    height: 30px;
    border-style: none;
    background-color: #000030;
    color: #d7d7d7;
    border-radius: 15px 15px 0 0;
}

.routine-delete-btn {
    width: 50px;
    height: 30px;
    color: #d7d7d7;
    border-style: none;
    background-color: #000030;
    border-radius: 15px 15px 0 0;
}

.done-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    background-color: #88a;
    border-radius: 15px 15px 0 0;
}

.routine-items {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 50vh;
    padding: 0px 50px;
    background-color: rgba(0, 0, 40, 0.5);
    border-radius: 0px 15px 15px 15px;
    overflow: auto;
}

.routine-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
}

.routine-item-input {
    position: relative;
    width: 150px;
    height: 23.5px;
    border-radius: 10px;
    font-size: 22px;
    z-index: 2;
}

.routine-item {
    max-width: 180px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: #000025;
    color: white;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #bbb;
    border-radius: 10px;
    border-style: none;
    background-color: transparent;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    border-style: none;
    background-color: red;
}

.create-field {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3vh;
    width: 300px;
}

.create-routine-input-feild {
    width: 300px;
    padding: 10px 0px;
    border-style: none;
    border: 3px solid black;
    border-bottom: 10px solid black;
    border-radius: 20px;
    font-family: VCR_OSD_MONO;
    font-size: 22px;
    font-weight: bold;
    color: black;
    background-color: blue;
}

.routine-input-feild {
    position: relative;
    width: 250px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    z-index: 4;
}
